* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

:root {
  --background: #1A1D23;
  --heading: #F8F8F8;
  --body: #D7D7D7;
  --info: #BBBBBB;
  --highlight: #FF57B2
}

body {
  background: var(--background);
  font-family: 'Inter', sans-serif;
  padding: 2.5rem 0;
}
